.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.reveal.revealOnScroll {
    transform: translateY(0px);
    opacity: 1;
}

.scale {
    opacity: 0;
    transform: scale(0);
    transition: transform 1s ease, opacity 1s ease;
}

.scale.scaleOnScroll {
    transform: scale(1);
    opacity: 1;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.zoomLeft {
    position: relative;
    opacity: 0;
    transform: translateX(-200px);
    transition: transform 1s ease, opacity 1s ease;
}

.zoomLeft.zoomLeftOnScroll {
    transform: translateX(0px);
    opacity: 1;
}
.zoomRight {
    position: relative;
    opacity: 0;
    transform: translateX(100px);
    transition: transform 1s ease, opacity 1s ease;
}

.zoomRight.zoomRightOnScroll {
    transform: translateX(10px);
    opacity: 1;
}